<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Host-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Your all in one gaming platform. Engage in tournaments and conquer">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <script src="js/GameLoader.js"></script>

</head>

<body class="custom" data-aos="fade-in" data-aos-duration="5000">

    <section class="header d-flex">
        <div class="container header-content my-auto">
            <h1> HOST IT</h1>
            <h3>Enter the world of gamerz <br>compete in tournaments <br>and earn real cash</h3>
            <form method="GET" action="/register">
                <button class="btn btn-1 mx-0 my-3">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg>
                    <p class="header-btn">ENTER</p>
                </button>
            </form>
        </div>
    </section>

    <hr />
    <section class="games">
        <div class="container py-5">
            <h3 class="games-heading mb-5">GAMES</h3>
            <div class="game-scroll px-3 mb-4" data-aos="zoom-in">
                <div class="row d-flex flex-nowrap justify-content-between" id="cards">

                </div>
            </div>
        </div>
    </section>

    <hr>

    <div class="container z-depth-1 my-5 p-5">

        <!-- Section -->
        <section>

            <h3 class="font-weight-bold text-center dark-grey-text pb-2">A Few Easy Steps</h3>
            <hr class="w-25 my-5">

            <div class="row dark-grey-text">

                <div class="col-md-4  mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-success"><i class="fas fa-handshake fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h5 class="font-weight-bold">Sign Up</h5>
                            <p class="content-section">Sign up using E-mail or google account and verify</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-danger"><i class="fas fa-bullhorn fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h5 class="font-weight-bold">Contest and win</h5>
                            <p class="content-section">Look for tournaments and contest with top playes.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  mb-4">
                    <div class="media">
                        <div class="mr-4">
                            <span class="text-info"><i class="icon-fa fas fa-code fa-2x"></i></span>
                        </div>
                        <div class="media-body">
                            <h5 class="font-weight-bold">Earn real money</h5>
                            <p class="content-section">Withdraw the amount won through upi or directly to the bank.</p>
                        </div>
                    </div>
                </div>




            </div>

        </section>
        <!-- Section -->

    </div>

    <hr>

    <section class="container py-5">
        <div class="row">
            <div class="col-sm-12 my-auto text-center">
                <h2 class="content-heading">Install and Compete</h2>
                <p class="download-desc px-md-4">Download our app for smoooth and engaging user experience at your
                    finger tips.</p>
                <a
                    href='https://play.google.com/store/apps/details?id=com.activision.callofduty.shooter&hl=en_IN&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                        alt='Get it on Google Play' class="download-redirect w-100 pb-2"
                        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
            </div>
            <!-- <div class="col-sm-6 py-3">
                <img src="img/app-down.svg" alt="Nature" class="mx-auto mb-4 mb-md-0 d-block my-3 download-img w-100">
            </div> -->
        </div>
    </section>

    <hr>

    <section class="container">
        <div class="row">
            <div class="col-md-6 py-2 my-auto animated" data-aos="fade-right">
                <h3>Live Streaming on <a href=""> <small class="text-danger">YOUTUBE <i
                                class="fab fa-youtube"></i></small></a></h2>
            </div>
            <div class="col-md-6 my-5 m-md-0 animated" data-aos="fade-left">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item rounded" <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/tHu-cnrz5-U" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>></iframe>
                </div>
            </div>
        </div>
    </section>

    <hr class="mb-0">

    <!-- Site footer -->
    <section class="footer">
        <div class="container py-2">
            <div class="social-circle-btn p-2 m-2 d-flex justify-content-center">
                <div class="btnn instagram">
                    <i class="fab fa-instagram fa-xs"></i>
                </div>
                <div class="btnn facebook">
                    <i class="fab fa-facebook fa-xs"></i>
                </div>
                <div class="btnn twitter">
                    <i class="fab fa-twitter fa-xs"></i>
                </div>
                <div class="btnn whatsapp">
                    <i class="fab fa-whatsapp fa-xs"></i>
                </div>
                <div class="btnn youtube fa-xs">
                    <i class="fab fa-youtube"></i>
                </div>
            </div>

        </div>
        <p class="bg-primary mb-0 py-1 w-100 text-center"> Made with <i class="fas fa-heart"></i></p>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
<script>
    fetchGame();
</script>

</html>