<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>tournament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/tournament.css">
    <link rel="stylesheet" type="text/css" href="css/iziToast.min.css">

</head>

<body class="custom">
    <div id="overlay">
        <div class="spinner"></div>
        <br />
        Loading...
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark py-0 static-top">
        <div class="container-fluid iii">
            <a class="navbar-brand" href="/dashboard">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link middle" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" onclick="logout()">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row bg-dark my-md-4">
            <div class="col-md-5 progress-gradient ">
                <div class=" p-3 text-center">
                    <img class="mt-5 mb-4 tournamentImage " id="tournamentImage" src="img/loader.png" alt="">
                    <h4 class="tournamentName" id="name"> tournament name</h4>
                    <p class="badge badge-success" id="status">registration status</p>
                </div>
            </div>
            <div class="col-md-7 d-flex flex-column justify-content-center">
                <div class="row px-md-4 mt-5 mb-3">
                    <div class="col-4 px-1 text-center">
                        <i class="far fa-calendar-alt gradient fa-2x p-2"></i>
                        <p>Date</p>
                        <p class="elegant-color" id="date"></p>
                    </div>
                    <div class="col-4 px-1 text-center">
                        <i class="fas fa-users gradient fa-2x p-2"></i>
                        <p>participants</p>
                        <p class="elegant-color" id="participants"></p>
                    </div>

                    <div class="col-4 px-1 text-center">
                        <i class="fas fa-award gradient fa-2x p-2"></i>
                        <p>prize Pool</p>
                        <p class="elegant-color" id="prize"></p>
                    </div>
                </div>
                <div class="mx-2 text-center" id="gameTags">game modes : </div>
                <button class="btn btn-sm btn-primary w-50  mx-auto d-block my-5 " id="join"
                    onclick="joinConfirm()">join</button>

                <!-- Modal -->
                <div class="modal fade" id="joinTournamentModel" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Join tournament</h5>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/paynow" class="needs-validation" novalidate>

                                    <input type="number" class="form-control d-none" id="joinNumber"
                                        placeholder="phonenumber" name="phone" value="" readonly>
                                    <input type="text" class="form-control d-none " id="joinEmail" placeholder="emailid"
                                        value="" name="email" readonly>
                                    <input type="text" class="form-control d-none" id="tournament_id"
                                        placeholder="tournamentID" name="tid" value="" readonly>
                                    <input type="text" class="form-control d-none " id="user_id" placeholder="userID"
                                        value="" name="uid" readonly>

                                    <div class="row">
                                        <div class="col-4 mb-2">
                                            <label class=" p-2" for="gameID">Game ID</label></div>
                                        <div class="col-8">
                                            <input type="text" class="form-control text-white bg-dark" id="gameID"
                                                placeholder="game ID" value="" name="inGameID" required>
                                            <div class="invalid-feedback">
                                                <small> Field empty </small></div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-4 mb-2">
                                            <label class=" p-2" for="gameName">Game Name</label></div>
                                        <div class="col-8">
                                            <input type="text" class="form-control text-white bg-dark" id="gameName"
                                                placeholder="game Name" value="" name="inGameName" required>
                                            <div class="invalid-feedback">
                                                <small> Field empty </small></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 mb-2">
                                            <label class="p-2" for="payable_amount">Amount to be paid</label></div>
                                        <div class="col-6">
                                            <input type="text" class="form-control text-white bg-dark"
                                                id="payable_amount" placeholder="amount" value="" name="amount"
                                                readonly>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">proceed to pay</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container prize mt-4 py-3">
        <h4 class="text-warning text-center">WINNINGS</h4>
        <!--Table-->
        <table id="tablePreview" class="table table-bordered table-striped mx-auto">
            <!--Table head-->
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center w-75">Prize</th>
                </tr>
            </thead>
            <tbody id="prizeTable">

            </tbody>
        </table>
    </div>


    <div class="container">
        <div class="rules my-4 rounded-lg">
            <h3 class="text-center border-bottom pt-4 pb-2">RULES</h3>
            <div class="rules-body">
                <p class="p-3" id="rules"> </p>
            </div>
        </div>
    </div>


    <!-- footer  -->
    <section class="footer mt-5" id="footer">
        <div class="container">
            <div class="social-circle-btn p-2 m-2 d-flex justify-content-center">
                <div class="btnn instagram">
                    <i class="fab fa-instagram fa-xs"></i>
                </div>
                <div class="btnn facebook">
                    <i class="fab fa-facebook fa-xs"></i>
                </div>
                <div class="btnn twitter">
                    <i class="fab fa-twitter fa-xs"></i>
                </div>
                <div class="btnn whatsapp">
                    <i class="fab fa-whatsapp fa-xs"></i>
                </div>
                <div class="btnn youtube fa-xs">
                    <i class="fab fa-youtube"></i>
                </div>
            </div>

        </div>
        <p class="bg-primary mb-0 py-1 w-100 text-center"> Made with <i class="fas fa-heart"></i></p>
    </section>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="./js/Constants.js"></script>
    <script src="./js/SpecificTournamentLoader.js"></script>
    <script src="js/iziToast.min.js" type="text/javascript"></script>


    <script>
        loadSpecificTournamentJS();
    </script>
</body>



</html>