@import url("headerfooter.css");

#bannerimg{
    max-height: 300px;
}
#gameimg{
    width: 200px;
    max-height: 500px;
    object-fit: cover;
}
#upload {
    opacity: 0;
}
p{
    margin: 2px;
    margin-bottom: 4px;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
/* tabs  */

/* wallet card style */
.walletRequestList{
    background-color: rgb(59, 59, 59);
}
.card {
    font-size: medium;
    background-color: var(--main-bg-color);
}

.nav-tabs .nav-link.active {
    color: #f1f1f1;
    background-color: var(--inner-bg-color);
    border-color: transparent !important;
}

.nav-tabs .nav-link {
    color: gray;
    background-color: var(--main-bg-color);
    border: 1px solid #4d4d4d;
}

.tab-content>.active {
    display: block;
    background-color: var(--main-bg-color);
    min-height: 50%;
}

.nav-float-left {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}