@import url("headerfooter.css");


.tournamentImage {
    width: 100%;
    /*height: 100%;*/
    box-shadow: gray;
    object-fit: cover;
    border-radius: 10px;

}
.modal-content{
    color: gray;
}

.gradient {
    background: -webkit-linear-gradient(to right, #5B86E5, var(--theme-color));
    background: linear-gradient(to right, #5B86E5, var(--theme-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width:800px) {
    .row {
        border-radius: 10px;
    }

    .progress-gradient {
        border-radius: 10px;
    }


}

.progress-gradient {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}

.prize{
    background-color:var(--main-bg-color);
    border-radius: 20px;
    width: 50%;
}
@media only screen and (max-width:800px){
    .prize{
        width: 75%;
    }
}
.rules {
    background-color: var(--main-bg-color);
}

h3 {
    font-weight: 700;

}

.rules-body {
    padding: 20px;
    line-height: 1.4;
}

th{
    color: lightgray ; 
}